/*Sidebar*/
body {
    background-color: #f8f9fa;
}

.navbar-brand img {
    max-width: 150px;
}

.nav-link.active {
    background: rgb(19, 180, 238);
    background: radial-gradient(circle, rgba(19, 180, 238, 1) 0%, rgba(45, 248, 250, 1) 100%);
    color: white !important;
    border-radius: 10px;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: white;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.sidebar .nav-item {
    margin-bottom: 10px;
}

.sidebar .nav-link {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: #000;
    font-weight: 500;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sidebar .nav-link i {
    margin-right: 10px;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

.sidebar .nav-link:hover {
    background-color: rgb(19, 180, 238);
    color: #fff;
}

.sidebar .nav-link:hover i {
    color: #fff;
}

.submenu {
    padding-left: 30px;
    display: none;
}

.nav-item.open .submenu {
    display: block;
}

.fa-th {
    color: navy;
}

.fa-user {
    color: rgb(0, 140, 255);
}

.fa-robot {
    color: rgb(153, 0, 255);
}

.fa-bolt {
    color: darkred;
}

.fa-paint-brush {
    color: rgb(108, 155, 39);
}

.fa-project-diagram {
    color: #000;
}

.fa-folder {
    color: rgb(255, 174, 0);
}

.fa-check-square {
    color: darkblue;
}

.fa-wallet {
    color: green;
}

.fa-headset {
    color: brown;
}

.fa-cog {
    color: gray;
}

.fa-globe {
    color: rgb(0, 153, 255);
}

/*Navbar*/
.nav-vertical {
    margin-left: 250px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.nav-vertical .input-group-text {
    background-color: #fff;
    color: gray;
}

.nav-vertical .form-control {
    max-width: 500px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
    cursor: pointer;
}

.credits {
    color: #8c00ff;
    font-size: 14px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.progress-bar {
    background-color: #19b4ee;
}

.progress {
    background-color: #e0f7ff;
    height: 6px;
    border-radius: 5px;
}

/* Estilos para mobile - Menu hambúrguer */
@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        padding: 10px;
        box-shadow: none;
    }

    .navbar-toggler {
        border: none;
        color: #17a2b8;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu.show {
        display: block;
    }

    .nav-vertical {
        margin-left: 0px;
    }

    .input-group.search-bar {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .input-group {
        display: none;
    }

    .profile-info {
        flex-direction: column;
        align-items: center !important;
        width: 100%;
    }

    .profile-details {
        width: 100%;
        text-align: center !important;
        margin-bottom: 10px;
    }

    .profile-info img,
    .profile-info i {
        margin-top: 10px;
    }
}

/*Conteudo principal*/
.main-content {
    margin-left: 250px;
    padding: 20px;
}